# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
SaraChatBot/beautifulsoup4-4.6.3.dist-info/INSTALLER
SaraChatBot/beautifulsoup4-4.6.3.dist-info/METADATA
SaraChatBot/beautifulsoup4-4.6.3.dist-info/RECORD
SaraChatBot/beautifulsoup4-4.6.3.dist-info/top_level.txt
SaraChatBot/beautifulsoup4-4.6.3.dist-info/WHEEL
SaraChatBot/bs4/__init__.py
SaraChatBot/bs4/dammit.py
SaraChatBot/bs4/diagnose.py
SaraChatBot/bs4/element.py
SaraChatBot/bs4/testing.py
SaraChatBot/bs4/builder/__init__.py
SaraChatBot/bs4/builder/_html5lib.py
SaraChatBot/bs4/builder/_htmlparser.py
SaraChatBot/bs4/builder/_lxml.py
SaraChatBot/bs4/tests/__init__.py
SaraChatBot/bs4/tests/test_builder_registry.py
SaraChatBot/bs4/tests/test_docs.py
SaraChatBot/bs4/tests/test_html5lib.py
SaraChatBot/bs4/tests/test_htmlparser.py
SaraChatBot/bs4/tests/test_lxml.py
SaraChatBot/bs4/tests/test_soup.py
SaraChatBot/bs4/tests/test_tree.py
SaraChatBot/ChatterBot-0.8.7.dist-info /INSTALLER
SaraChatBot/ChatterBot-0.8.7.dist-info /LICENSE.txt
SaraChatBot/ChatterBot-0.8.7.dist-info /METADATA
SaraChatBot/ChatterBot-0.8.7.dist-info /RECORD
SaraChatBot/ChatterBot-0.8.7.dist-info /top_level.txt
SaraChatBot/ChatterBot-0.8.7.dist-info /WHEEL
SaraChatBot/ChatterBot-0.8.7.dist-info /zip-safe
SaraChatBot/chatterbot_corpus /__init__.py
SaraChatBot/chatterbot_corpus /corpus.py
SaraChatBot/chatterbot_corpus /data/bangla/botprofile.yml
SaraChatBot/chatterbot_corpus /data/bangla/computer.yml
SaraChatBot/chatterbot_corpus /data/bangla/emotions.yml
SaraChatBot/chatterbot_corpus /data/bangla/greetings.yml
SaraChatBot/chatterbot_corpus /data/chinese/ai.yml
SaraChatBot/chatterbot_corpus /data/chinese/botprofile.yml
SaraChatBot/chatterbot_corpus /data/chinese/conversations.yml
SaraChatBot/chatterbot_corpus /data/chinese/emotion.yml
SaraChatBot/chatterbot_corpus /data/chinese/food.yml
SaraChatBot/chatterbot_corpus /data/chinese/gossip.yml
SaraChatBot/chatterbot_corpus /data/chinese/greetings.yml
SaraChatBot/chatterbot_corpus /data/chinese/history.yml
SaraChatBot/chatterbot_corpus /data/chinese/humor.yml
SaraChatBot/chatterbot_corpus /data/chinese/literature.yml
SaraChatBot/chatterbot_corpus /data/chinese/money.yml
SaraChatBot/chatterbot_corpus /data/chinese/movies.yml
SaraChatBot/chatterbot_corpus /data/chinese/politics.yml
SaraChatBot/chatterbot_corpus /data/chinese/psychology.yml
SaraChatBot/chatterbot_corpus /data/chinese/science.yml
SaraChatBot/chatterbot_corpus /data/chinese/sports.yml
SaraChatBot/chatterbot_corpus /data/chinese/trivia.yml
SaraChatBot/chatterbot_corpus /data/custom/myown.yml
SaraChatBot/chatterbot_corpus /data/english/ai.yml
SaraChatBot/chatterbot_corpus /data/english/botprofile.yml
SaraChatBot/chatterbot_corpus /data/english/computers.yml
SaraChatBot/chatterbot_corpus /data/english/conversations.yml
SaraChatBot/chatterbot_corpus /data/english/emotion.yml
SaraChatBot/chatterbot_corpus /data/english/food.yml
SaraChatBot/chatterbot_corpus /data/english/gossip.yml
SaraChatBot/chatterbot_corpus /data/english/greetings.yml
SaraChatBot/chatterbot_corpus /data/english/health.yml
SaraChatBot/chatterbot_corpus /data/english/history.yml
SaraChatBot/chatterbot_corpus /data/english/humor.yml
SaraChatBot/chatterbot_corpus /data/english/literature.yml
SaraChatBot/chatterbot_corpus /data/english/money.yml
SaraChatBot/chatterbot_corpus /data/english/movies.yml
SaraChatBot/chatterbot_corpus /data/english/politics.yml
SaraChatBot/chatterbot_corpus /data/english/psychology.yml
SaraChatBot/chatterbot_corpus /data/english/science.yml
SaraChatBot/chatterbot_corpus /data/english/sports.yml
SaraChatBot/chatterbot_corpus /data/english/trivia.yml
SaraChatBot/chatterbot_corpus /data/french/botprofile.yml
SaraChatBot/chatterbot_corpus /data/french/conversations.yml
SaraChatBot/chatterbot_corpus /data/french/food.yml
SaraChatBot/chatterbot_corpus /data/french/greetings.yml
SaraChatBot/chatterbot_corpus /data/french/trivia.yml
SaraChatBot/chatterbot_corpus /data/german/conversations.yml
SaraChatBot/chatterbot_corpus /data/german/greetings.yml
SaraChatBot/chatterbot_corpus /data/hebrew/botprofile.yml
SaraChatBot/chatterbot_corpus /data/hebrew/conversations.yml
SaraChatBot/chatterbot_corpus /data/hebrew/greetings.yml
SaraChatBot/chatterbot_corpus /data/hindi/coversations.yml
SaraChatBot/chatterbot_corpus /data/hindi/greetings.yml
SaraChatBot/chatterbot_corpus /data/indonesia/conversations.yml
SaraChatBot/chatterbot_corpus /data/indonesia/greetings.yml
SaraChatBot/chatterbot_corpus /data/indonesia/trivia.yml
SaraChatBot/chatterbot_corpus /data/italian/conversations.yml
SaraChatBot/chatterbot_corpus /data/italian/greetings.yml
SaraChatBot/chatterbot_corpus /data/italian/trivia.yml
SaraChatBot/chatterbot_corpus /data/marathi/conversations.yml
SaraChatBot/chatterbot_corpus /data/marathi/greetings.yml
SaraChatBot/chatterbot_corpus /data/odia/conversations.yml
SaraChatBot/chatterbot_corpus /data/odia/greetings.yml
SaraChatBot/chatterbot_corpus /data/portuguese/compliment.yml
SaraChatBot/chatterbot_corpus /data/portuguese/conversations.yml
SaraChatBot/chatterbot_corpus /data/portuguese/greetings.yml
SaraChatBot/chatterbot_corpus /data/portuguese/linguistic_knowledge.yml
SaraChatBot/chatterbot_corpus /data/portuguese/proverbs.yml
SaraChatBot/chatterbot_corpus /data/portuguese/suggestions.yml
SaraChatBot/chatterbot_corpus /data/portuguese/trivia.yml
SaraChatBot/chatterbot_corpus /data/portuguese/unilab.yml
SaraChatBot/chatterbot_corpus /data/russian/conversations.yml
SaraChatBot/chatterbot_corpus /data/spanish/conversations.yml
SaraChatBot/chatterbot_corpus /data/spanish/greetings.yml
SaraChatBot/chatterbot_corpus /data/spanish/trivia.yml
SaraChatBot/chatterbot_corpus /data/swedish/ai.yml
SaraChatBot/chatterbot_corpus /data/swedish/conversations.yml
SaraChatBot/chatterbot_corpus /data/swedish/food.yml
SaraChatBot/chatterbot_corpus /data/swedish/greetings.yml
SaraChatBot/chatterbot_corpus /data/swedish/sports.yml
SaraChatBot/chatterbot_corpus /data/tchinese/ai.yml
SaraChatBot/chatterbot_corpus /data/tchinese/botprofile.yml
SaraChatBot/chatterbot_corpus /data/tchinese/conversations.yml
SaraChatBot/chatterbot_corpus /data/tchinese/emotion.yml
SaraChatBot/chatterbot_corpus /data/tchinese/food.yml
SaraChatBot/chatterbot_corpus /data/tchinese/gossip.yml
SaraChatBot/chatterbot_corpus /data/tchinese/greetings.yml
SaraChatBot/chatterbot_corpus /data/tchinese/history.yml
SaraChatBot/chatterbot_corpus /data/tchinese/humor.yml
SaraChatBot/chatterbot_corpus /data/tchinese/literature.yml
SaraChatBot/chatterbot_corpus /data/tchinese/money.yml
SaraChatBot/chatterbot_corpus /data/tchinese/movies.yml
SaraChatBot/chatterbot_corpus /data/tchinese/politics.yml
SaraChatBot/chatterbot_corpus /data/tchinese/psychology.yml
SaraChatBot/chatterbot_corpus /data/tchinese/science.yml
SaraChatBot/chatterbot_corpus /data/tchinese/sports.yml
SaraChatBot/chatterbot_corpus /data/tchinese/trivia.yml
SaraChatBot/chatterbot_corpus /data/telugu/conversations.yml
SaraChatBot/chatterbot_corpus /data/thai/greeting.yml
SaraChatBot/chatterbot_corpus-1.1.4.dist-info /INSTALLER
SaraChatBot/chatterbot_corpus-1.1.4.dist-info /METADATA
SaraChatBot/chatterbot_corpus-1.1.4.dist-info /RECORD
SaraChatBot/chatterbot_corpus-1.1.4.dist-info /top_level.txt
SaraChatBot/chatterbot_corpus-1.1.4.dist-info /WHEEL
SaraChatBot/SaraCloudVisionCtf.json
SaraChatBot/test2.jpg
SaraChatBot/test3.jpg
